<nav class="navbar navbar-expand-lg navbar-light bg-light" id = nav_custom>
    <div class="container-fluid" id="div_follow">

        <button type="button" id="sidebarCollapse" class="btn btn-new">
            <img class="remain_icon_img2" href="index" src="static/images/menu/Icon_align-justify.svg" alt="menu">

<!--            <span>Menu</span>-->
        </button>
        <div>
        <img class="remain_icon_img2" href="index" src="static/images/menu/Icon_mail.svg" alt="mail">
        <img class="remain_icon_img2" href="index" src="static/images/menu/Icon_bell.svg" alt="bell">
        </div>
        </div>
<!--        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"-->
<!--            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--            aria-label="Toggle navigation">-->
<!--            <i class="fas fa-align-justify"></i>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="nav navbar-nav ml-auto">-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</nav>