{% extends "base.html" %}
{% block title %}Scentomize for Music Creator{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!--<link href="{{ url_for('static', path='/css/editor.css?f5d') }}" rel="stylesheet">-->
{% endblock %}
{% block page_content %}


<main role="main" class="container overflow-hidden" id=main_content xmlns="http://www.w3.org/1999/html">


</main>

{% for item in process_DB_list|reverse %}
   {% if loop.index == 7 %}
{{item}}
<video class="video_confirm" id="bg-video{{loop.index}}" autoplay muted playsinline loop muted object-fit="cover" list="nodownload"src = {{item}}></video>
   {% endif %}
{% endfor %}
<div class="bottom_menu>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--<script src="{{ url_for('static', path='/js/editor.js') }}"></script>-->

{% endblock %}




